<h2>Consulta de CEP</h2>
<div style="padding-top: 4px;">
    <form>
        <div class="row g-2">
            <div class="col-5 col-md-3 col-lg-2">
                <label for="cep">CEP</label>
                <input class="form-control" type="text" maxlength="9" name="cep" [(ngModel)]="cep">
            </div>
            <div class="col-auto align-self-end">
                <button class="btn btn-primary" (click)="consultarCep()">Buscar</button>
            </div>
        </div>
        
    </form>
</div>
<div class="mt-2" *ngIf="objetoCepRetorno && !objetoCepRetorno.erro">
    <p>
        <b>Logradouro</b>: {{objetoCepRetorno.logradouro}}
    </p>
    <p>
        <b>Bairro</b>: {{objetoCepRetorno.bairro}}
    </p>
    <p>
        <b>Cidade</b>: {{objetoCepRetorno.localidade}}
    </p>
    <p>
        <b>UF</b>: {{objetoCepRetorno.uf}}
    </p>
</div>