<div>
    <h2>Exercício 02</h2>
    <p class="fw-bold">
        Crie outro componente que exibe uma imagem por vez, variando entre 3 e mudando ao clicar em um botão. Use o property binding para controlar o src da tag img(Coloque as imagens na pasta assets).
    </p>
</div>
<div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <img class="shadow-sm img" [src]="urlImagem">
        </div>
    </div>
    <div class="mt-2">
        <button class="btn btn-light me-2" (click)="mudarImagem(-1)">Anterior</button>
        <button class="btn btn-light" (click)="mudarImagem(1)">Próxima</button>
    </div>
</div>
