<h1>Menu</h1>
<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <!-- Funciona tbm para carregar o componte -->
        <a href="test1">Teste 1 - IF, FOR e SWITCH</a>
    </li>
    <li>
        <!-- Melhor opção, pois, é mais fácil para passar parâmetros para a rota -->
        <a routerLink="test2">Teste 2 - Consulta de CEP</a>
    </li>
    <li>
        <a routerLink="ex01">Exercício 01</a>
    </li>
    <li>
        <a routerLink="ex02">Exercício 02</a>
    </li>
    <li>
        <a routerLink="ex03">Exercício 03</a>
    </li>
    <li>
        <a routerLink="ex04">Exercício 04</a>
    </li>
    <li>
        <a routerLink="ex05">Exercício 05</a>
    </li>
    <li>
        <a routerLink="ex06">Exercício 06</a>
    </li>
</ul>

<router-outlet></router-outlet>