<div>
    <h2>Exercício 06</h2>
    <p class="fw-bold">
        Crie outro componente que consuma uma API simples, utilizando model e service.
    </p>
</div>
<div>
    <h3>Consulta PokéAPI</h3>
    <form>
        <div class="row g-2">
            <div class="col-9 col-md-6 col-lg-4">
                <label for="pokemon">Digite o nome/código do pokémon que deseja buscar</label>
                <input type="text" class="form-control" name="pokemon" [(ngModel)]="pokemon">
            </div>
            <div class="col-auto align-self-end">
                <div class="d-flex column align-itens-end">
                    <button type="submit" (click)="consultarPokemon()" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>        
    </form>
    <div *ngIf="objPokemonRetorno.nome && objPokemonRetorno.nome != ''">
        <div class="card-pokemon mt-3">
            <div class="pokemon-sprite">
                <img [src]="objPokemonRetorno.imageUrl" width="100%" height="100%"/>
            </div>
            <div class="my-2 pokemon-id">
                <span>#{{objPokemonRetorno.id}}</span>
            </div>
            <div class="mb-3 fw-bold pokemon-name">
                <span>{{objPokemonRetorno.nome}}</span>
            </div>
            <div class="mt-1 pokemon-types">
                <span>{{objPokemonRetorno.tipos[0]}}</span>
                <span *ngIf="objPokemonRetorno.tipos[1]"> | {{objPokemonRetorno.tipos[1]}}</span>
            </div>
        </div>
    </div>
</div>
